<div id="nav">
  <a href="http://worldmap.harvard.edu/site_media/docs/WorldMap_Help.pdf">Need Help?</a> |
  <a href="mailto:worldmap@harvard.edu">Contact Us</a> |
  <a href="http://worldmap.harvard.edu">WorldMap</a>
</div>


