<h3>About</h3>

<p>
  Inspired by Metacarta's Map Rectifier, the Map Warper is an open source map warping / geo rectifying service,
  written in Ruby and Rails.<br />
  Funded primarily by the New York Public Library Map Division with additional funding from The Center for Geographic Analysis,
  this application was developed by Schuyler Erle, Shekhar Krishnan, and Tim Waters of Entropy Free. <br />
  It is MIT licensed and the code can be found at http://github.com/timwaters/mapwarper.
</p>


